.password {
    align-items: center;
    display: flex;
    height: 66px;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    border: 0;
}

.password-info-group {
    text-align: left;
}

.password-group {
    align-items: center;
    justify-content: flex-end;
    align-self: center;
    display: flex;
}

.password-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
}

.password-input {
    margin-right: 10px;
    max-width: 370px;
    height: 32px;
    flex: 1;
    border: none;
    background-color: white;
    padding: 0 15px 0 15px;
    border-radius: 5px;
}

.options {
    align-self: center;
    padding: 0;
}

.password-show-icon {
    cursor: pointer;
}

@media (max-width: 720px) {
    .password {
        height: 120px;
    }
    .password-row {
        flex-direction: column;
    }
    .detail-group {
        width: 100%;
        flex: 1;
    }
    .password-input {
        font-size: 24px;
        width: 100%;
        max-width: none;
    }
    .password-group {
        margin-top: 10px;
        width: 100%;
    }
}